[Unit]
Description=Grafana Loki Service
After=network.target

[Service]
User={{ loki_user }}
Group={{ loki_group }}
Type=simple
ExecStart={{ binary_dir }}/loki-linux-amd64 -config.file={{ config_dir }}/loki-local-config.yaml
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
