version: "3"
services:
  starknet-node:
    image: eqlabs/pathfinder:latest
    restart: unless-stopped
    environment:
      - RUST_LOG=info
      - PATHFINDER_ETHEREUM_API_URL=https://goerli.infura.io/v3/<project-id>
    ports:
      - 9545:9545
    deploy:
      mode: replicated
      replicas: {{ replicas }}
    logging:
      driver: "json-file"
      options:
         max-size: "30mb"
         max-file: "10"
