[Unit]
Description=node_exporter
After=network-online.target

[Service]
User={{ exporter_user }}
ExecStart=/usr/bin/node_exporter
Restart=always
RestartSec=3
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
EOF
